<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1100px, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Тренажёр финансовой грамотности</title>
  </head>

  <body>


    <div class="main-header">
      <h3 > тренажёр </h3>
      <h1> ФИНАНСОВАЯ ГРАМОТНОСТЬ </h1>
    </div> 

    <div class="main-menu">
      <ul class="main-menu-list">
        <li><a href=""><input type="button" value="Одиночная игра" class="main-menu-button"></a></li>
        <li><a href=""><input type="button" value="Мультиплеер" class="main-menu-button"></a></li>
        <li><a href=""><input type="button" value="Правила" class="main-menu-button"></a></li>

      </ul>
    </div>  


    


  </body>
</html>
