{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="true" name="HandheldFriendly"/>
    <meta content="width" name="MobileOptimized"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <link rel="stylesheet" href="{% static 'financial_game/css/style.css' %}">
    <title>Тренажёр финансовой грамотности</title>
	<style>
   body {
    width: {{width}}px; /* Минимальная ширина контейнера */
   }
  </style>
  </head>

  <body>
      <div class="main-header rule-h1">
          <h1>Правила игры</h1>
      </div>
      
      <div class="rule-list">
        <p class="rule-text">Данная игра основана на различных аспектах возможных экономических ситуаций реального мира. Каждый ход игра предоставляет игроку случайные ситуации и требует от него определенных ответных действий для решения трудностей. Так же от игрока требуется проводить расчет по реальным экономиским законам и правилам. И в соответсвии с данными выпавшими карточки приводит к нужному виду таблицу.</p>
        <h3 class="rule-head">Стартовые условия</h3>
        <ul>
            <li>В вашей компании работают 3 сотрудника. Их средняя зарплата 10.000 рублей.</li>
            <li>Вы арендуете 20 кв.м в бизнес-инкубаторе за 10.000 рублей в месяц.</li>
            <li>Себестоимость 1 комплекта датчиков для 1 умного горшка составляет 500 рублей. Стоимость самого макета – 200 рублей.</li>
            <li>Сборку «умного» горшка организует компания-подрядчик за 200 рублей за штуку.</li>
        </ul>
        <h3 class="rule-head">Во время тренинга вы можете пользоваться следующими источниками финансирования:</h3>
          <ul>
            <li>Привлекать собственные средства в неограниченном количестве (помните, что они уменьшат рентабельность вложенных средств 
                <b>R=(( ∑ФинРез - ∑СобРез ) / ∑СобСр ) * 100%</b> ).
            </li>
            <li>Привлекать на 4 хода заёмные средства под 10% годовых (выплаты процентов ежемесячно, выплата всей суммы в конце срока – на 4-ом ходу).</li>
            <li>Привлечь в любое время, но только 1 раз грант на сумму 250.000 рублей. Грант можно потратить ТОЛЬКО на инвестиционные расходы.</li>
        </ul>	  
	  </div>	
      <div class="main-menu rating-menu">
      <ul class="main-menu-list rating-menu-list">
        <li><a href="{% url 'main' %}"><input type="button" value="Главное меню" class="main-menu-button result-button rating-button"></a></li>
      </ul>
    </div>  
  </body>
</html>
