{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1100px, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'financial_game/css/style.css' %}">
    <title>Тренажёр финансовой грамотности</title>
  </head>

  <body>


    <div class="main-status-bar">
      <div class="month-status">
        <h2>Месяц</h2>
        <p>12</p>
      </div>
      <div class="money-status">
        <h2>Сумма </h2>
        <p>123456789</p>
      </div>
      <div class="money-image">
<!--          <img src="../img/peppa.svg">-->
      </div>
    </div> 
    <div class="income">
        <p id="income-text">
            В этом месяце вы решили принять участие в выставке. Для этого подготовили выставочный стенд – <b>5.000</b> рублей, распечатали флаеры о продукции – 1.000 рублей, а также оплатили место на выставке – 15.000 рублей. а также оплатили место на выставке – 15.000 рублей. а также оплатили место на выставке – <b>15.000.556</b>
        </p>
    </div>
      
    <div class="expense">
        <p id="expense-text">
            В этом месяце вы решили принять участие в выставке. Для этого подготовили выставочный стенд – <b>5.000</b> рублей, распечатали флаеры о продукции – 1.000 рублей, а также оплатили место на выставке – 15.000 рублей. а также оплатили место на выставке – 15.000 рублей. а также оплатили место на выставке – <b>15.000.556</b>
        </p>
    </div>
    <div class="game-table">
      <ul class="game-table-list">
        <li><a href=""><input type="button"  class="accept-button"></a></li>
        <li><a href=""><input type="button"  class="decline-button"></a></li>
        <li><a href="table-input.html"><input type="button" value="Продолжить" class="main-menu-button continue-button"></a></li>
      </ul>
    </div>  


    


  </body>
</html>
