{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="true" name="HandheldFriendly"/>
    <meta content="width" name="MobileOptimized"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <link rel="stylesheet" href="{% static 'financial_game/css/style.css' %}">
    <title>Тренажёр финансовой грамотности</title>
  </head>

  <body>
      {% for player in rating %}
      <div>{{player.username}} {{player.result}}</div>

      {% endfor %}


 


  </body>
</html>