{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1100px, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'financial_game/css/style.css' %}">
    <title>Тренажёр финансовой грамотности</title>
  </head>

  <body class="body-table-input">


    <div class="main-status-bar">
      <div class="month-status">
        <h2>Месяц</h2>
        <p>12</p>
      </div>
      <div class="money-status">
        <h2>Сумма </h2>
        <p>123456789</p>
      </div>
      <div class="money-image">
<!--          <img src="../img/peppa.svg">-->
      </div>
    </div> 
    <div class="cards">
        <div class="income income-input-state">
            <p id="income-text">
                В этом месяце вы решили принять участие в выставке. Для этого подготовили выставочный стенд – <b>5.000</b> рублей, распечатали флаеры о продукции – 1.000 рублей, а также оплатили место на выставке – 15.000 рублей. а также оплатили место на выставке – 15.000 рублей. а также оплатили место на выставке – <b>15.000.556</b>
            </p>
        </div>
        <div class="input-game-table">
            <table class="after-month-table">
                <thead>
                    <tr>
                        <th><b>Бюджет движения денег по проекту</b></th>
                        <td>Количество</td>
                        <td>Единицы</td>
                        <td>Проверка</td>
                    </tr>

                </thead>
                <thead>
                    <tr>
                        <th>Доходы (выручка)</th>
                        <td class="input-info"><input id="test-inp" type="number" placeholder='0' /></td>
                        <td>руб</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td>Средняя цена  продукта</td>
                        <td class="input-info"><input type="number" placeholder='0'/></td>
                        <td>руб</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>

                    </tr>
                    <tr>
                        <td>Количество продукта</td>
                        <td class="input-info"><input type="number" placeholder='0'/></td>
                        <td>Шт</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>

                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>Текущие расходы всего</th>
                        <td class="input-info"><input type="number" placeholder='0'/></td>
                        <td>руб</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Себестоимость продукции</td> 
                        <td class="input-info"><input type="number" placeholder='0'/></td>
                        <td>руб</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                    </tr>
                    <tr>
                        <td>Заработная плата сотрудников</td>
                        <td class="input-info"><input type="number" placeholder='0'/></td>
                        <td>руб</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                    </tr>
                    <tr>
                        <td>Начисления на заработную плату сотрудников</td>
                        <td class="input-info"><input type="number" placeholder='0'/></td>
                        <td>руб</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                    </tr>
                    <tr>
                        <td>Услуги сторонних организаций</td>
                        <td class="input-info"><input type="number" placeholder='0'/></td>
                        <td>руб</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                    </tr>
                    <tr>
                        <td>Расходы на рекламу</td>
                        <td class="input-info"><input type="number" placeholder='0'/></td>
                        <td>руб</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                    </tr>
                    <tr>
                        <td>Аренда</td>
                        <td class="input-info"><input type="number" placeholder='0'/></td>
                        <td>руб</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                    </tr>
                    <tr>
                        <td>Другие расходы</td>
                        <td class="input-info"><input type="number" placeholder='0'/></td>
                        <td>руб</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                    </tr>
                </tbody>
                <tbody class="tbody-result">
                    <tr>
                        <td>Общая сумма налогов</td>
                        <td class="input-info"><input type="number" placeholder='0'/></td>
                        <td>руб</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                    </tr>
                    <tr>
                        <td>Финансовый результат</td>
                        <td class="input-info"><input type="number" placeholder='0'/></td>
                        <td>руб</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                    </tr>
                </tbody>

                <thead>
                    <tr>
                        <th>Текущие расходы всего</th>
                        <td class="input-info"><input type="number" placeholder='0'/></td>
                        <td>руб</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Закупка оборудования</td> 
                        <td class="input-info"><input type="number" placeholder='0'/></td>
                        <td>руб</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                    </tr>
                    <tr>
                        <td>Проведение научных исследований</td>
                        <td class="input-info"><input type="number" placeholder='0'/></td>
                        <td>руб</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                    </tr>
                    <tr>
                        <td>Приобретение технологий</td>
                        <td class="input-info"><input type="number" placeholder='0'/></td>
                        <td>руб</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                    </tr>
                    <tr>
                        <td>Обучение сотрудников</td>
                        <td class="input-info"><input type="number" placeholder='0'/></td>
                        <td>руб</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                    </tr>
                    <tr>
                        <td>Представительские расходы</td>
                        <td class="input-info"><input type="number" placeholder='0'/></td>
                        <td>руб</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                    </tr>
                    <tr>
                        <td>Другие расходы</td>
                        <td class="input-info"><input type="number" placeholder='0'/></td>
                        <td>руб</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>Финансирование</th>
                        <td class="input-info"><input type="number" placeholder='0'/></td>
                        <td>руб</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Получение грантов</td> 
                        <td class="input-info"><input type="number" placeholder='0'/></td>
                        <td>руб</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                    </tr>
                    <tr>
                        <td>Собственные средства основателей</td>
                        <td class="input-info"><input type="number" placeholder='0'/></td>
                        <td>руб</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                    </tr>
                    <tr>
                        <td>Заёмные средства (поступления)</td>
                        <td class="input-info"><input type="number" placeholder='0'/></td>
                        <td>руб</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                    </tr>
                    <tr>
                        <td>Заёмные средства (возврат)</td>
                        <td class="input-info"><input type="number" placeholder='0'/></td>
                        <td>руб</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                    </tr>
                    <tr>
                        <td>Инвестиции</td>
                        <td class="input-info"><input type="number" placeholder='0'/></td>
                        <td>руб</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                    </tr>
                </tbody>
                <tbody class="tbody-result">
                    <tr>
                        <td>Денежный поток</td>
                        <td class="input-info"><input type="number" placeholder='0'/></td>
                        <td>руб</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                    </tr>
                    <tr>
                        <td>Остаток денежных средств</td>
                        <td class="input-info"><input type="number" placeholder='0'/></td>
                        <td>руб</td>
                        <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="expense expense-input-state">
            <p id="expense-text">
                В этом месяце вы решили принять участие в выставке. Для этого подготовили выставочный стенд – <b>5.000</b> рублей, распечатали флаеры о продукции – 1.000 рублей, а также оплатили место на выставке – 15.000 рублей. а также оплатили место на выставке – 15.000 рублей. а также оплатили место на выставке – <b>15.000.556</b>
            </p>
        </div>
    </div>
      
    <div class=input-table-buttons>
        <div class="checking">
          <ul class="game-table-list ">
            <li><a href=""><input type="button" value="Проверить" class="main-menu-button continue-button"></a></li>
          </ul>
        </div> 
        <div class="continue-game">
          <ul class="game-table-list ">
            <li><a href="{% url 'game' %}"><input type="button" value="Продолжить" class="main-menu-button continue-button"></a></li>
          </ul>
        </div> 
      
    </div>

  </body>
</html>
