{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="true" name="HandheldFriendly"/>
    <meta content="width" name="MobileOptimized"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <link rel="stylesheet" href="{% static 'financial_game/css/style.css' %}">
    <title>Тренажёр финансовой грамотности</title>
  </head>

  <body class="body-table-input">
    <form method="post">
        {% csrf_token %}
      
    
        <div class="main-status-bar">
        <div class="month-status">
            <h2>Месяц</h2>
            <p>{{month_num}}</p>
        </div>
        <div class="money-status">
            <h2>Сумма </h2>
            <p>{{cash_balance_begin}}</p>
        </div>
        <div class="money-image">
    
        </div>
        </div> 
        <div class="cards">
            <div class="income income-input-state">
                <p id="income-text">
                    {{green_card}}
                    <!--В этом месяце вы решили принять участие в выставке. Для этого подготовили выставочный стенд – <b>5.000</b> рублей, распечатали флаеры о продукции – 1.000 рублей, а также оплатили место на выставке – 15.000 рублей. а также оплатили место на выставке – 15.000 рублей. а также оплатили место на выставке – <b>15.000.556</b>-->
                </p>
            </div>
            <div class="input-game-table">
                <table class="after-month-table">
                    <thead>
                        <tr>
                            <th><b>Бюджет движения денег по проекту</b></th>
                            <td>Количество</td>
                            <td>Проверка</td>
                            <td class="td-check-head"></td>
                        </tr>

                    </thead>
                    <thead>
                        <tr>
                            <th>Доходы (выручка)</th>
                            <td class="input-info">{{form.earnings}}</td>
                            <td>{{true_current_table.earnings}}</td>
                            <td class="td-check">{%  if binaries.0 == 0 %}<img src="{% static 'financial_game/img/no.svg' %}">
                            {% else %}<img src="{% static 'financial_game/img/yes.svg' %}">{%endif%}</td>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td>Средняя цена  продукта</td>
                            <td class="input-info">{{form.price}}</td>
                            <td>{{true_current_table.price}}</td>
                            <td class="td-check">{%  if binaries.2 == 0 %}<img src="{% static 'financial_game/img/no.svg' %}">
                            {% else %}<img src="{% static 'financial_game/img/yes.svg' %}">{%endif%}</td>

                        </tr>
                        <tr>
                            <td>Количество продукта</td>
                            <td class="input-info">{{form.count}}</td>
                            <td>{{true_current_table.count}}</td>
                            <td class="td-check">{%  if binaries.1 == 0 %}<img src="{% static 'financial_game/img/no.svg' %}">
                            {% else %}<img src="{% static 'financial_game/img/yes.svg' %}">{%endif%}</td>

                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th>Текущие расходы всего</th>
                            <td class="input-info">{{form.current_costs}}</td>
                            <td>{{true_current_table.current_costs}}</td>
                            <td class="td-check">{%  if binaries.3 == 0 %}<img src="{% static 'financial_game/img/no.svg' %}">
                            {% else %}<img src="{% static 'financial_game/img/yes.svg' %}">{%endif%}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Себестоимость продукции</td>
                            <td class="input-info">{{form.cost_price}}</td>
                            <td>{{true_current_table.cost_price}}</td>
                            <td class="td-check">{%  if binaries.4 == 0 %}<img src="{% static 'financial_game/img/no.svg' %}">
                            {% else %}<img src="{% static 'financial_game/img/yes.svg' %}">{%endif%}</td>
                        </tr>
                        <tr>
                            <td>Заработная плата сотрудников</td>
                            <td class="input-info">{{form.salary}}</td>
                            <td>{{true_current_table.salary}}</td>
                            <td class="td-check">{%  if binaries.5 == 0 %}<img src="{% static 'financial_game/img/no.svg' %}">
                            {% else %}<img src="{% static 'financial_game/img/yes.svg' %}">{%endif%}</td>
                        </tr>
                        <tr>
                            <td>Начисления на заработную плату сотрудников</td>
                            <td class="input-info">{{form.salary_taxes}}</td>
                            <td>{{true_current_table.salary_taxes}}</td>
                            <td class="td-check">{%  if binaries.6 == 0 %}<img src="{% static 'financial_game/img/no.svg' %}">
                            {% else %}<img src="{% static 'financial_game/img/yes.svg' %}">{%endif%}</td>
                        </tr>
                        <tr>
                            <td>Услуги сторонних организаций</td>
                            <td class="input-info">{{form.third_party}}</td>
                            <td>{{true_current_table.third_party}}</td>
                            <td class="td-check">{%  if binaries.7 == 0 %}<img src="{% static 'financial_game/img/no.svg' %}">
                            {% else %}<img src="{% static 'financial_game/img/yes.svg' %}">{%endif%}</td>
                        </tr>
                        <tr>
                            <td>Расходы на рекламу</td>
                            <td class="input-info">{{form.ads}}</td>
                            <td>{{true_current_table.ads}}</td>
                            <td class="td-check">{%  if binaries.8 == 0 %}<img src="{% static 'financial_game/img/no.svg' %}">
                            {% else %}<img src="{% static 'financial_game/img/yes.svg' %}">{%endif%}</td>
                        </tr>
                        <tr>
                            <td>Аренда</td>
                            <td class="input-info">{{form.rent_pay}}</td>
                            <td>{{true_current_table.rent_pay}}</td>
                            <td class="td-check">{%  if binaries.9 == 0 %}<img src="{% static 'financial_game/img/no.svg' %}">
                            {% else %}<img src="{% static 'financial_game/img/yes.svg' %}">{%endif%}</td>
                        </tr>
                        <tr>
                            <td>Другие расходы</td>
                            <td class="input-info">{{form.other}}</td>
                            <td>{{true_current_table.other}}</td>
                            <td class="td-check">{%  if binaries.10 == 0 %}<img src="{% static 'financial_game/img/no.svg' %}">
                            {% else %}<img src="{% static 'financial_game/img/yes.svg' %}">{%endif%}</td>
                        </tr>
                    </tbody>
                    <tbody class="tbody-result">
                        <tr>
                            <td>Общая сумма налогов</td>
                            <td class="input-info">{{form.earning_taxes}}</td>
                            <td>{{true_current_table.earning_taxes}}</td>
                            <td class="td-check">{%  if binaries.11 == 0 %}<img src="{% static 'financial_game/img/no.svg' %}">
                            {% else %}<img src="{% static 'financial_game/img/yes.svg' %}">{%endif%}</td>
                        </tr>
                        <tr>
                            <td>Финансовый результат</td>
                            <td class="input-info">{{form.fin_res}}</td>
                            <td>{{true_current_table.fin_res}}</td>
                            <td class="td-check">{%  if binaries.12 == 0 %}<img src="{% static 'financial_game/img/no.svg' %}">
                            {% else %}<img src="{% static 'financial_game/img/yes.svg' %}">{%endif%}</td>
                        </tr>
                    </tbody>

                    <thead>
                        <tr>
                            <th>Текущие расходы всего</th>
                            <td class="input-info">{{form.investments}}</td>
                            <td>{{true_current_table.investments}}</td>
                            <td class="td-check">{%  if binaries.13 == 0 %}<img src="{% static 'financial_game/img/no.svg' %}">
                            {% else %}<img src="{% static 'financial_game/img/yes.svg' %}">{%endif%}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Закупка оборудования</td>
                            <td class="input-info">{{form.equip}}</td>
                            <td>{{true_current_table.equip}}</td>
                            <td class="td-check">{%  if binaries.14 == 0 %}<img src="{% static 'financial_game/img/no.svg' %}">
                            {% else %}<img src="{% static 'financial_game/img/yes.svg' %}">{%endif%}</td>
                        </tr>
                        <tr>
                            <td>Проведение научных исследований</td>
                            <td class="input-info">{{form.research}}</td>
                            <td>{{true_current_table.research}}</td>
                            <td class="td-check">{%  if binaries.15 == 0 %}<img src="{% static 'financial_game/img/no.svg' %}">
                            {% else %}<img src="{% static 'financial_game/img/yes.svg' %}">{%endif%}</td>
                        </tr>
                        <tr>
                            <td>Приобретение технологий</td>
                            <td class="input-info">{{form.tech}}</td>
                            <td>{{true_current_table.tech}}</td>
                            <td class="td-check">{%  if binaries.16 == 0 %}<img src="{% static 'financial_game/img/no.svg' %}">
                            {% else %}<img src="{% static 'financial_game/img/yes.svg' %}">{%endif%}</td>
                        </tr>
                        <tr>
                            <td>Обучение сотрудников</td>
                            <td class="input-info">{{form.education}}</td>
                            <td>{{true_current_table.education}}</td>
                            <td class="td-check">{%  if binaries.17 == 0 %}<img src="{% static 'financial_game/img/no.svg' %}">
                            {% else %}<img src="{% static 'financial_game/img/yes.svg' %}">{%endif%}</td>
                        </tr>
                        <tr>
                            <td>Представительские расходы</td>
                            <td class="input-info">{{form.hospitality}}</td>
                            <td>{{true_current_table.hospitality}}</td>
                            <td class="td-check">{%  if binaries.18 == 0 %}<img src="{% static 'financial_game/img/no.svg' %}">
                            {% else %}<img src="{% static 'financial_game/img/yes.svg' %}">{%endif%}</td>
                        </tr>
                        <tr>
                            <td>Другие расходы</td>
                            <td class="input-info">{{form.other_invest}}</td>
                            <td>{{true_current_table.other_invest}}</td>
                            <td class="td-check"></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th>Финансирование</th>
                            <td class="input-info">{{form.funding}}</td>
                            <td>{{true_current_table.funding}}</td>
                            <td class="td-check">{%  if binaries.19 == 0 %}<img src="{% static 'financial_game/img/no.svg' %}">
                            {% else %}<img src="{% static 'financial_game/img/yes.svg' %}">{%endif%}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Получение грантов</td>
                            <td class="input-info">{{form.grants}}</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Собственные средства основателей</td>
                            <td class="input-info">{{form.own_funds}}</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Заёмные средства (поступления)</td>
                            <td class="input-info">{{form.funds_receipt}}</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Заёмные средства (возврат)</td>
                            <td class="input-info">{{form.funds_refund}}</td>
                            <td>{{true_current_table.funds_refund}}</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/yes.svg' %}"></td>
                        </tr>
                        <tr>
                            <td>Инвестиции</td>
                            <td class="input-info">{{form.sponsor_invest}}</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                    <tbody class="tbody-result">
                        <tr>
                            <td>Денежный поток</td>
                            <td class="input-info">{{form.cash_flow}}</td>
                            <td>{{true_current_table.cash_flow}}</td>
                            <td class="td-check">{%  if binaries.20 == 0 %}<img src="{% static 'financial_game/img/no.svg' %}">
                            {% else %}<img src="{% static 'financial_game/img/yes.svg' %}">{%endif%}</td>
                        </tr>
                        <tr>
                            <td>Остаток денежных средств</td>
                            <td class="input-info">{{form.cash_balance_end}}</td>
                            <td>{{true_current_table.cash_balance_end}}</td>
                            <td class="td-check">{%  if binaries.21 == 0 %}<img src="{% static 'financial_game/img/no.svg' %}">
                            {% else %}<img src="{% static 'financial_game/img/yes.svg' %}">{%endif%}</td>
                        </tr>
                        <tr>
                            <td>Показать результаты</td>
                            <td class="input-info">{{form.show_res}}</td>
                        </tr>
                    </tbody>
                </table>
  
            </div>
            
            <div class="expense expense-input-state">
                <p id="expense-text">
                    {{blue_card}}
                    <!--В этом месяце вы решили принять участие в выставке. Для этого подготовили выставочный стенд – <b>5.000</b> рублей, распечатали флаеры о продукции – 1.000 рублей, а также оплатили место на выставке – 15.000 рублей. а также оплатили место на выставке – 15.000 рублей. а также оплатили место на выставке – <b>15.000.556</b>-->
                
                </p>
            </div>
        </div>

        <div class=input-table-buttons>
            <div class="checking">
            <ul class="game-table-list ">
                <li><a href=""><button class="main-menu-button continue-button" type="submit"> Проверить </button></a></li>
            </ul>
            </div> 
            <!--<div class="show-results">
            <ul class="game-table-list " style="visibility: visible;">
                <li><a href=""><input type="button" value="Показать результаты" class="main-menu-button continue-button show-res-button"></a></li>
            </ul>
            </div>
            <div class="continue-game">
            <ul class="game-table-list " style="visibility: visible;">
                <li><a href=""><input type="button" value="Продолжить" class="main-menu-button continue-button"></a></li>
            </ul>
            </div> -->
        
        </div>
    </form>
  </body>
</html>
