{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="true" name="HandheldFriendly"/>
    <meta content="width" name="MobileOptimized"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <link rel="stylesheet" href="{% static 'financial_game/css/style.css' %}">
    <title>Тренажёр финансовой грамотности</title>
  </head>

  <body class="body-table-input">
    <form method="post">
        {% csrf_token %}
      
    
        <div class="main-status-bar">
        <div class="month-status">
            <h2>Месяц</h2>
            <p>{{month_num}}</p>
        </div>
        <div class="money-status">
            <h2>Сумма </h2>
            <p>{{cash_balance_begin}}</p>
        </div>
        <div class="money-image">
    
        </div>
        </div> 
        <div class="cards">
            <div class="income income-input-state">
                <p id="income-text">
                    {{green_card}}
                    <!--В этом месяце вы решили принять участие в выставке. Для этого подготовили выставочный стенд – <b>5.000</b> рублей, распечатали флаеры о продукции – 1.000 рублей, а также оплатили место на выставке – 15.000 рублей. а также оплатили место на выставке – 15.000 рублей. а также оплатили место на выставке – <b>15.000.556</b>-->
                </p>
            </div>
            <div class="input-game-table">
                <table class="after-month-table">
                    <thead>
                        <tr>
                            <th><b>Бюджет движения денег по проекту</b></th>
                            <td>Количество</td>
                            <td>Проверка</td>
                            <td class="td-check-head"></td>
                        </tr>

                    </thead>
                    <thead>
                        <tr>
                            <th>Доходы (выручка)</th>
                            <td class="input-info">{{form.earnings}}</td>
                            <td>{{binaries.0}}</td>
                            <td class="td-check"><img src={{binaries.0}}></td>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td>Средняя цена  продукта</td>
                            <td class="input-info">{{form.price}}</td>
                            <td>{{binaries.1}}</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>

                        </tr>
                        <tr>
                            <td>Количество продукта</td>
                            <td class="input-info">{{form.count}}</td>
                            <td>{{binaries.2}}</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>

                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th>Текущие расходы всего</th>
                            <td class="input-info">{{form.current_costs}}</td>
                            <td>{{binaries.3}}</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Себестоимость продукции</td> 
                            <td class="input-info">{{form.cost_price}}</td>
                            <td>{{binaries.4}}</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                        </tr>
                        <tr>
                            <td>Заработная плата сотрудников</td>
                            <td class="input-info">{{form.salary}}</td>
                            <td>{{binaries.5}}</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                        </tr>
                        <tr>
                            <td>Начисления на заработную плату сотрудников</td>
                            <td class="input-info">{{form.salary_taxes}}</td>
                            <td>{{binaries.6}}</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                        </tr>
                        <tr>
                            <td>Услуги сторонних организаций</td>
                            <td class="input-info">{{form.third_party}}</td>
                            <td>{{binaries.7}}</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                        </tr>
                        <tr>
                            <td>Расходы на рекламу</td>
                            <td class="input-info">{{form.ads}}</td>
                            <td>{{binaries.8}}</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                        </tr>
                        <tr>
                            <td>Аренда</td>
                            <td class="input-info">{{form.rent_pay}}</td>
                            <td>{{binaries.9}}</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                        </tr>
                        <tr>
                            <td>Другие расходы</td>
                            <td class="input-info">{{form.other}}</td>
                            <td>{{binaries.10}}</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                        </tr>
                    </tbody>
                    <tbody class="tbody-result">
                        <tr>
                            <td>Общая сумма налогов</td>
                            <td class="input-info">{{form.earning_taxes}}</td>
                            <td>{{binaries.11}}</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                        </tr>
                        <tr>
                            <td>Финансовый результат</td>
                            <td class="input-info">{{form.fin_res}}</td>
                            <td>{{binaries.12}}</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                        </tr>
                    </tbody>

                    <thead>
                        <tr>
                            <th>Текущие расходы всего</th>
                            <td class="input-info">{{form.investments}}</td>
                            <td>{{binaries.13}}</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Закупка оборудования</td> 
                            <td class="input-info">{{form.equip}}</td>
                            <td>{{binaries.14}}</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                        </tr>
                        <tr>
                            <td>Проведение научных исследований</td>
                            <td class="input-info">{{form.research}}</td>
                            <td>{{binaries.15}}</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                        </tr>
                        <tr>
                            <td>Приобретение технологий</td>
                            <td class="input-info">{{form.tech}}</td>
                            <td>{{binaries.16}}</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                        </tr>
                        <tr>
                            <td>Обучение сотрудников</td>
                            <td class="input-info">{{form.education}}</td>
                            <td>{{binaries.17}}</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                        </tr>
                        <tr>
                            <td>Представительские расходы</td>
                            <td class="input-info">{{form.hospitality}}</td>
                            <td>{{binaries.18}}</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                        </tr>
                        <tr>
                            <td>Другие расходы</td>
                            <td class="input-info">{{form.other_invest}}</td>
                            <td>-</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th>Финансирование</th>
                            <td class="input-info">{{form.funding}}</td>
                            <td>{{binaries.19}}</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Получение грантов</td> 
                            <td class="input-info">{{form.grants}}</td>
                            <td>-</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                        </tr>
                        <tr>
                            <td>Собственные средства основателей</td>
                            <td class="input-info">{{form.own_funds}}</td>
                            <td>-</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                        </tr>
                        <tr>
                            <td>Заёмные средства (поступления)</td>
                            <td class="input-info">{{form.funds_receipt}}</td>
                            <td>-</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                        </tr>
                        <tr>
                            <td>Заёмные средства (возврат)</td>
                            <td class="input-info">{{form.funds_refund}}</td>
                            <td>-</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                        </tr>
                        <tr>
                            <td>Инвестиции</td>
                            <td class="input-info">{{form.sponsor_invest}}</td>
                            <td>-</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                        </tr>
                    </tbody>
                    <tbody class="tbody-result">
                        <tr>
                            <td>Денежный поток</td>
                            <td class="input-info">{{form.cash_flow}}</td>
                            <td>{{binaries.20}}</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                        </tr>
                        <tr>
                            <td>Остаток денежных средств</td>
                            <td class="input-info">{{form.cash_balance_end}}</td>
                            <td>{{binaries.21}}</td>
                            <td class="td-check"><img src="{% static 'financial_game/img/no.svg' %}"></td>
                        </tr>
                    </tbody>
                </table>
  
            </div>
            
            <div class="expense expense-input-state">
                <p id="expense-text">
                    {{blue_card}}
                    <!--В этом месяце вы решили принять участие в выставке. Для этого подготовили выставочный стенд – <b>5.000</b> рублей, распечатали флаеры о продукции – 1.000 рублей, а также оплатили место на выставке – 15.000 рублей. а также оплатили место на выставке – 15.000 рублей. а также оплатили место на выставке – <b>15.000.556</b>-->
                
                </p>
            </div>
        </div>

        <div class=input-table-buttons>
            <div class="checking">
            <ul class="game-table-list ">
                <li><a href=""><button class="main-menu-button continue-button" type="submit"> Проверить </button></a></li>
            </ul>
            </div> 
            <div class="show-results">
            <ul class="game-table-list " style="visibility: visible;">
                <li><a href=""><input type="button" value="Показать результаты" class="main-menu-button continue-button show-res-button"></a></li>
            </ul>
            </div> 
            <div class="continue-game">
            <ul class="game-table-list " style="visibility: visible;">
                <li><a href="{% url 'game' %}"><input type="button" value="Продолжить" class="main-menu-button continue-button"></a></li>
            </ul>
            </div> 
        
        </div>
    </form>
  </body>
</html>
